<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>jqGird</title>
    <!-- 引入公用部分 -->
    <script th:replace="common/head::static"></script>

    <link th:href="@{css/jquery-ui.css}" rel="stylesheet"/>


    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.min.css">
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="bower_components/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="bower_components/plugins/css/vueAlert.css">
    <link rel="stylesheet" href="/layui/css/layui.css" media="all">

</head>

<body class="gray-bg">

<div id="app" style="    margin: 16px 0 0 21px; width: 1268px;padding: 10px;">
    <form v-on:submit.prevent="addMethod()">
        <input type="text" class="sel" placeholder="请输入员工编号" v-model="staffid"></input>
        <input type="text" class="sel" placeholder="请输入员工姓名" v-model="staffname"></input>
        <button type="submit" class="layui-btn layui-btn-xs layui-btn-normal"
                style='margin: 0px 446px -26px 5px;float: right;'><span class="fa fa-search"></span>搜索
        </button>
    </form>
</div>

<!-- 主体 -->
<div class="wrapper wrapper-content  animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="jqGrid_wrapper">
                <table id="table_list_2"></table>
                <div id="pager_list_2"></div>
            </div>
        </div>
    </div>
</div>


</body>
<style type="text/css">

    .sel{
        margin: 0 0 0 24px;
        width: 158px;
        height: 24px;
    }

</style>
<script th:src="@{js/jquery-ui.custom.min.js}"></script>
<script th:src="@{js/lin/dialog.js}"></script>
<script th:src="@{js/lin/staffSearch.js}"></script>
<script>

    layui.use(['form'], function () {
        var form = layui.form,
            layer = layui.layer;
    });
</script>
</html>
