<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>


    <title>jqGird</title>
    <!-- 引入公用部分 -->
    <script th:replace="common/head::static"></script>

    <script src="bower_components/select2/dist/js/select2.min.js"></script>
    <script src="bower_components/vue-select/dist/vue-select.js"></script>

    <link rel="stylesheet" href="bower_components/select2/dist/css/select2.min.css">
    <link rel="stylesheet" href="bower_components/vue-select/dist/vue-select.css">
    <link rel="stylesheet" href="bower_components/select2-bootstrap4-theme/dist/select2-bootstrap4.min.css">




    <link th:href="@{css/jquery-ui.css}" rel="stylesheet"/>

    <style>
        /* Additional style to fix warning dialog position */
        #alertmod_table_list_2 {
            top: 900px !important;
        }

        input {
            margin-top: 10px;
        }

        .layui-form-label {
            margin-top: 10px;
        }
    </style>

</head>

<body class="gray-bg">

<form class="layui-form"  id="f1" v-on:submit.prevent="addSendScan()">

    <div class="layui-inline">
        <label class="layui-form-label" style="width: 90px">
            <span style="color: red;">
						运单编号
					</span></label>
        <div class="layui-inline">
            <input type="text" id="waybillId" name="waybillId"   readonly="readonly"
                   autocomplete="off" lay-verify="required" class="layui-input width-d">
        </div>
    </div>
    <div class="layui-inline">
        <label class="layui-form-label" style="width: 90px">操作日期</label>
        <div class="layui-inline">
            <input type="datetime-local" name="operateTimeStr" id="operateTimeStr"  placeholder="选择日期"
                   th:value="${session.date}"
                   class="layui-input width-a" lay-key="1">
        </div>
    </div>


    <div class="layui-inline">
        <label class="layui-form-label" style="width: 90px">操作网点</label>
        <div class="layui-inline">
            <input type="text" id="operateBranch" name="operateBranch" th:value="${session.staffInfo.branch}" readonly class="layui-input width-a">
        </div>
    </div>


    <div class="layui-inline">
        <label class="layui-form-label" style="width: 90px">
            操作人员
        </label>
        <div class="layui-inline">
            <input type="text" id="operator" name="operator"  th:value="${session.staffInfo.staffName}" readonly class="layui-input width-a">
        </div>
    </div>

    <div class="layui-inline">
        <label class="layui-form-label">重量</label>
        <div class="layui-inline">
            <input type="text" id="weight" name="weight"  placeholder="" class="layui-input width-a">
        </div>
    </div>





    <div class="layui-inline">
        <label class="layui-form-label" style="width: 90px">
            目的地
        </label>
        <div class="layui-inline">
            <input type="text" id="destination" name="destination"  readonly class="layui-input width-a">
        </div>
    </div>

    <div class="layui-inline">
        <label class="layui-form-label" style="width: 90px">
            下一站
        </label>
        <div class="layui-inline" style="    width: 190px;margin: 13px 0 0 0;">

            <input type="text" id="nextBranch" name="nextBranch"  style="margin-top: -4px;"  readonly class="layui-input width-a">
        </div>
    </div>

    <div class="layui-inline" style="display: none">

        <div class="layui-inline" >

            <input type="text" id="receiptStaff" name="receiptStaff"  style="margin-top: -4px;"  readonly class="layui-input width-a">
        </div>
    </div>

    <div class="layui-inline" style="display: none">

        <div class="layui-inline" >

            <input type="text" id="destinationBranch" name="destinationBranch"  style="margin-top: -4px;"  readonly class="layui-input width-a">
        </div>
    </div>
    <br>
    <div class="layui-inline" style=" margin: 10px 90px 15px 29px;">
        <button type="submit" class="layui-btn layui-btn-normal" ><i class="layui-icon"></i> 添加
        </button>
        <button type="reset" style="background-color:#ff7d5a" class="layui-btn"><i class="layui-icon"></i>重置
        </button>

    </div>
</form>
<!--<button id="selectSubmit"  style="float: left;-->
<!--    margin: -106px 0 0 888px;"  class="layui-btn"><i class="layui-icon"></i>选择</button>-->

<!-- 主体 -->
<div class="wrapper wrapper-content  animated fadeInRight" style="padding-top: 0;">
    <div class="row">
        <div class="col-sm-12">
            <div class="jqGrid_wrapper">
                <table id="table_list_2"></table>
                <div id="pager_list_2"></div>
            </div>
        </div>
    </div>
</div>

<!--&lt;!&ndash;运输员弹窗&ndash;&gt;-->
<!--<div class="ui-jqdialog modal-content jqmID1" id="layui-layer4" type="iframe" times="4" showtime="0" contype="string"-->
<!--     style="z-index: 19891018; width: 700px; height: 550px; top: -300px; left: 491.5px;">-->
<!--    <div class="ui-jqdialog-titlebar modal-header"-->
<!--         style="cursor: move;">-->
<!--        <span class="ui-jqdialog-title" style="float: left;">请选择</span>-->
<!--        <span class="ui-jqdialog-title" style="float: right;"><a-->
<!--                id="close1" href="javascript:;">X</a></span>-->
<!--    </div>-->
<!--    <div id="" class="layui-layer-content">-->
<!--        <iframe scrolling="auto" allowtransparency="true" id="layui-layer-iframe2" name="layui-layer-iframe2"-->
<!--                onload="this.className='';" class="" frameborder="0" src="http://localhost:8081/branchSearchPage"-->
<!--                __idm_frm__="589"-->
<!--                style="height: 507px;width:700px ;"></iframe>-->
<!--    </div>-->
<!--</div>-->




<!-- 问题件 -->
<div class="modal fade" id="problemMyModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">问题件</h4>
            </div>
            <form class="layui-form" id="problemform" v-on:submit.prevent="addProblem()">
                <div class="modal-body">
                    <div class="layui-form-item">
                        <label class="layui-form-label"  style="width: 90px;margin-top: 3px">运单编号:</label>
                        <div class="layui-input-block">
                            <input type="text"  id="problemWaybillId" name="problemWaybillId" readonly="readonly" lay-verify="title" class="layui-input" v-model="problemWaybillId">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label" style="width: 105px;" >问题件类型:</label>
                        <div class="layui-input-block" style="    padding: 10px 0px 0 0px;">
                            <v-select placeholder="请选择问题件类型"
                                      :options="ptNamelist"
                                      v-model="ptName"
                                      :reduce="option => option.value">
                            </v-select>
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label" style="width: 90px;margin-top: 3px">责任方:</label>
                        <div class="layui-input-block">
                            <input type="text"  id="responsibleParty" name="responsibleParty"  lay-verify="title"  placeholder="请输入责任方" class="layui-input" v-model="responsibleParty">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label" style="width: 90px;margin-top: 3px">问题描述:</label>
                        <div class="layui-input-block">
                            <textarea   id="problemDesc" style="padding-top: 9px;height: 100px;" name="problemDesc"  lay-verify="title"  placeholder="请输入问题描述" class="layui-input" v-model="problemDesc"></textarea>

                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="submit" class="btn btn-primary">上传</button>
                </div>
            </form>
        </div>
    </div>
</div>





</body>
<style type="text/css">
    .sel {
        margin: 0 0 0 24px;
        width: 158px;
        height: 24px;
    }

    #table_list_2 > tbody > tr > td, .ui-jqgrid-labels > th {
        padding: 8px 2px 8px 8px;
        border: 1px solid #e7eaec;
    }

    .jqgfirstrow {
        display: none;
    }

    * {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    .ui-jqgrid .ui-jqgrid-bdiv {
        border-top: 1px solid #E1E1E1;
        overflow-x: auto;
    }

    .frozen-div .frozen-bdiv {
        background-color: #E4E6E9; /*与网页背景色一致*/
    }
</style>
<script>
    layui.use(['form'], function () {
        var form = layui.form
            , layer = layui.layer;
    });
    //
    // $("#selectSubmit").click(function () {
    //     layuilayer4Show();  //显示窗口
    //     $('#layui-layer-iframe2').contents().find(".ui-pg-div").click();
    //
    // })
    //
    // $("#close1").click(function () {
    //     layuilayer4Hide();  //关闭窗口
    //
    // });
    //
    // function layuilayer4Show() {  // 添加信息的方法
    //     $("#layui-layer4").show();
    //
    // }
    //
    // function layuilayer4Hide() {  // 添加信息的方法
    //     $("#layui-layer4").hide();
    // }
</script>
<script th:src="@{js/jquery-ui.custom.min.js}"></script>
<script th:src="@{js/lin/dialog.js}"></script>
<script th:src="@{js/lin/sendScan.js}"></script>

</html>
